Input 
양방향 데이터 바인딩의 대표적인 예제는 폼을 다루는 것 입니다. v-model 은 state 값을 꼭 사용해야합니다. props 로 내려받은 값을 바로 v-model 에서 사용할 수는 없습니다.

구성해볼 예제는 input 에 입력된 값을 h1 태그의 텍스트 값으로 이용하여 title 을 구성해보는 것 입니다.
<h1> 태그와 <input /> 태그를 준비해주세요 :)  
// App.vue

<template>
  <div>
    <h1>{{ title }}</h1>
    <input v-model="title">
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: ""
    };
  }
};
</script>

<style>
</style>

App.vue 는 title 이라는 state 를 가지고 있습니다. 
input 은 v-model 로 title state 를 사용합니다. 
h1 태그는 title state 를 바탕으로 내용을 구성합니다.

selectBox 를 이용하여 선호 장르 조사를 해보겠습니다.
// App.vue

<h2>선호 장르</h2>
<select v-model="category">
  <option disabled value>선택해주세요</option>
  <option>로맨스</option>
  <option>호러</option>
  <option>스릴러</option>
</select>
<span>선택: {{ category }}</span>

<script>
export default {
  data() {
    return {
      title: "",
      checkedWebtoons: [],
      gender: "",
      category: ""
    };
  }
};
</script>