<div class="menu">
    <a>Home</a>
    <a>Products</a>
    <a>About</a>
  </div>

html을 짜다보면 div가 수백개 생긴다. 축약하고 싶을때 vue가 이를 가능하게 한다.
위의 <a>태그 3를 축약하고 싶다.
    <div class="menu">
        <a v-for="작명 in 3" :key="작명">Home</a>
    </div>
이와 같이 사용하면 된다.
원하는 태그에 v-for="작면 in 반복할 횟수"를 적는다.
:key="작명" 추가해야한다. :key속성은 반복문 돌릴때 꼭 필요하다. 반복한 요소들을 구분짓기 위함.

-----------------------------------------------------
v-for 반복문을 사용할 때 array, object 데이터를 집어넣을 수도 있다.
data(){
    return {
      메뉴들 : ['Home', 'Shop', 'About']
    }
  } 여기서 메뉴들이라는 데이터로 반복문 돌릴 수 도 있다.

  <div class="menu">
    <a v-for="작명 in 메뉴들" :key="작명">Home</a>
  </div>
  작명한 변수는 출력해보면 1회 반복시엔 'Home' 2회 반복시엔 'Shop' 이렇게 변한다. 

  <div class="menu">
    <a v-for="작명 in 메뉴들" :key="작명"> {{ 작명 }}</a>
  </div>
데이터 바인딩을 통해 작명한 변수를 출력해보자. 
<a>태그가 3번 생성되는데 생성될때마다 {{작명}}부분은 차례로 home, shop, about이 나온다. 
------------------------------------------------------
v-for 안에 변수는 2개 까지 가능
<div class="menu">
    <a v-for="(작명,i) in 메뉴들" :key="i"> {{ 작명 }}</a>
  </div>
  첫째 작명한건 아까 설명했던 array안의 데이터가 되는 것이고
둘째 작명한건 0, 1, 2 .. 이런 식으로 1씩 증가하는 정수가 됩니다.
반복 횟수를 알려주는 숫자라고 보시면 되겠습니다.